body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
}

nav {
    background-color: #333;
    color: white;
    padding: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 1em;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

h1 {
    background-color: #343637;
    color: white;
    padding: 1em;
    text-align: center;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-photos img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.main-characteristics,
.secondary-characteristics {
    margin-top: 20px;
}